<h1 mat-dialog-title>Add Tenant</h1>

    
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>First Name </mat-label>
        <input name="firstName" matInput [(ngModel)]="userModel.firstName">
    </mat-form-field>
  

    <mat-form-field appearance="fill">
        <mat-label>Last Name </mat-label>
        <input matInput name="lastName" [(ngModel)]="userModel.lastName">
    </mat-form-field>
   
</mat-dialog-content>

<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Email </mat-label>
        <input matInput name="email" type="email" [(ngModel)]="userModel.email">
    </mat-form-field>
    

    <mat-form-field appearance="fill">
        <mat-label>Password </mat-label>
        <input matInput name="password" type="password" [(ngModel)]="userModel.password">
    </mat-form-field>
</mat-dialog-content>


<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Address </mat-label>
        <input matInput name="address" [(ngModel)]="userModel.address">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contact </mat-label>
        <input matInput type="number" name="contact" [(ngModel)]="userModel.contact">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-content>
    <mat-radio-group name="role" [(ngModel)]="userModel.role" aria-label="Select as landlord">
        <mat-radio-button value="Tenant">Tenant</mat-radio-button>
      </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-raised-button color="primary" (click)="addTenant()" [mat-dialog-close]="userModel" cdkFocusInitial>Add Tenant</button>
  </mat-dialog-actions>

    
