
<mat-card>
    <!-- <button mat-raised-button (click)="addTenantDialog()"> Add Tenant </button> -->

<h1>Tenant Bookings</h1>
 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Tenant Name </th>
            <td mat-cell *matCellDef="let element">{{(element?.tenantId?.firstName && element?.tenantId?.lastName) ? element?.tenantId?.firstName + '' +element?.tenantId?.lastName : 'not set'}} </td>
        </ng-container>

        <ng-container matColumnDef="LandLordId">
            <th mat-header-cell *matHeaderCellDef> LandLord Name</th>
            <td mat-cell *matCellDef="let element">{{(element?.landLordId?.firstName)?(element?.landLordId?.firstName):'not set'}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element?.tenantId?.address ? element?.tenantId?.address :' not set'}} </td>
        </ng-container> -->


        <ng-container matColumnDef="phoneNo">
            <th mat-header-cell *matHeaderCellDef> Phone No. </th>
            <td mat-cell *matCellDef="let element"> {{element?.tenantId?.contact ? element?.tenantId?.contact : 'not set'}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element?.tenantId?.email ? element?.tenantId?.email : 'not set '}} </td>
        </ng-container>




        <ng-container matColumnDef="roomNo">
            <th mat-header-cell *matHeaderCellDef> Room No </th>
            <td mat-cell *matCellDef="let element"> {{element?.roomId?.roomNo ? element?.roomId?.roomNo : 'not set'}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <i class="fa fa-eye-slash text-info" (click)="tenantProfileDialog(row)"></i>

                <!-- <i class="fa fa-edit" (click)="editTenantDialog(row)" ></i> -->
                <i class="fa fa-trash text-danger" (click)="deleteTenantInfo(row)"></i>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
</mat-card>