<h1 mat-dialog-title>Change Password</h1>


<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>New Password </mat-label>
        <input matInput name="password" [(ngModel)]="changePassword.password" >
    </mat-form-field>
</mat-dialog-content>






<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button> 
    <button mat-button mat-raised-button color="primary"  (click)="changeOldPassword()" [mat-dialog-close]="changePassword" cdkFocusInitial>Change</button>
  </mat-dialog-actions>

    
