<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <!-- <img src="logo.jpg" class="logo"> -->
        <a href="home"><img src="logo.jpg" class="logo" /></a>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="register">Sign Up</a></li>
          <li><a href="mailto:erenting.support@gmail.com">Contact Us</a></li>
        </ul>
      </div>
      <div class="content">
        <h1>WELCOME TO E-RENTING</h1>
        <P>E-Renting is a simple online web-application for both tenants and landlords.</P
        >
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header">
            <img
              src="1bhk.jpg"
              alt="1bhk id" id="onebhk"
             />
          </div>
          <div class="card-body">
            <span class="tag tag-teal">Location: Srinagar</span>
            <br />
            <h4><b>1 BHK</b></h4>
            <p>
              A studio apartment has one huge room where you must allow space
              for your bed, kitchen, etc. A residential property can be
              considered 1 BHK if it has a designated room, kitchen, living
              space, and bathroom/toilet.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img
              src="2bhk.jpg"
              alt="2bhk" 
              id="twobhk"
            />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">Location: Baramulla</span>
            <br />
            <h4>
              <b>2 BHK</b>
            </h4>
            <p>
              A unit has two bedrooms, a hall and a kitchen. There is an
              attached toilet in the master bedroom of the 2 BHK and the guest
              washroom outside the rooms.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img
              src="3bhk.jpg"
              alt="3bhk"
              id="threebhk"
            />
          </div>
          <div class="card-body">
            <span class="tag tag-pink">Location: Pulwama</span>
            <br />
            <h4>
              <b>3 BHK</b>
            </h4>
            <p>
              A unit has three bedrooms, a hall and a kitchen. In a 3 BHK, there
              are 3 sets of rooms with two of them attached to the washrooms and
              the guest washroom outside.
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
