table {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

button {
    margin-left: 30px;
    margin-top: 10px;
}

i {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}
td.mat-cell{
    padding:10px;
}

mat-card{
    height: 100vh;
}