<button mat-icon-button class="close-button " [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="user-profile.component.scss">

</head>

<body>

    <h2 style="text-align:center">{{role}} Profile</h2>

    <div class="card">

        <img mat-card-image [src]="profilePicture" alt="img err">


        <h1>{{firstName +' '+lastName}}</h1>
        <p>Role:{{' '+role}}</p>
        <p class="title">{{address}}</p>

        <div style="margin: 24px 0;">
            <!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
            <a href="tel:{{contact}}"><i class="fa fa-phone a1"></i></a>&nbsp;
            <a href="mailto:{{email}}?subject=your title&body=TThe message"><i class="fa fa-envelope a1"></i></a>&nbsp;

            <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
        </div>
        <!-- <p><button>Contact</button></p> -->

    </div>
</body>