
<app-top-nav-bar></app-top-nav-bar>
<mat-card>
<div class="wrapper wrapper-content">
    <div class="row">
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                         
                         <h3>Total Rooms</h3><hr>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{totalRooms}}</h1>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                            
                            <h3>Approved</h3><hr>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{approvedRooms}}</h1>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                          
                            <h3>Pending</h3><hr>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{pendingRooms}}</h1>
                            
                        </div>
                    </div>
                </div>               
               
        </div>
    </div></mat-card>

<app-monthlybooking></app-monthlybooking>
<app-allotmentdetails></app-allotmentdetails>
<app-roomdetails></app-roomdetails>



